* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #6002EE;
    color: White;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    color: #fff;
}
.logo a {
    color: inherit;
    text-decoration: none;
}

.top-menu{
    list-style: none;
    display: flex;
    align-items: center;
}

.top-menu li {
    margin-right: 10px;
    font-weight: 500;
    cursor: pointer;
}
.top-menu .profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -4px;
}
section.product {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}
.card {
    width: 30%;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 8px 10px;
    flex-wrap: wrap;
}
.card a {
    color: inherit;
    text-decoration: none;
}
.card-image {
    width: 100%;
    margin: 10px 0;
}

.card-desc {
    line-height: 22px;
}

.card-button {
    border: none;
    background: #6002EE;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    float:right;
}
.card-button:hover {
    color: black;
    background-color: white;
    outline: 2px solid #6002EE;
}

.post {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.post-img {
    width: 100%;
    padding: 5px 0;
}

.post-desc {
    line-height: 23px;
    color: #222;
}

.login {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.wrapper {
    width: 60%;
    height: 75%;
    box-shadow: 0px 2px 13px #ddd;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-self: center;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.or {
    padding: 5px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: white;
    font-weight: bold;
    color: blue;
}
.line {
    width: 0.5px;
    height: 70%;
    background-color: blue;
    margin: 0 auto;
    position: absolute;
    z-index: -1;

}
.loginButton {
    width: 150px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.google {
    background-color: grey;
}
.facebook {
    background-color: blue;
}
.github {
    background-color: grey;
}

.right input {
    width: 80%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid #999;
    margin-bottom: 10px;
}
input[type="submit"] {
    width: 100px;
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}
input[type="submit"]:hover {
    background: white;
    color: blue;
    outline: 2px solid blue;
    cursor: pointer;
}

.loginTitle {
    position: absolute;
    top: 165px;
    color: #444;
}

.not-found {
    padding: 100px;
    margin: 0 auto;
    text-align: center;
}
.not-found h1{
    color: #aaa;
}